<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
{#  	<meta name="author" content="Kishor Malakar">#}
{#  	<link rel="author" href="https://www.facebook.com/kishor.malakar" />#}
    {% load static %}
    <style>
      @media only screen and (max-width: 990px) {
        .navbar-nav{
          z-index: 10;
        }
      }
      .mdl-textfield{
        max-width: 95%;
      }
    </style>
  <link rel="stylesheet" href="{% static 'ca/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'ca/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'ca/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'ca/css/Roboto.css' %}">
  <link rel="stylesheet" href="{% static 'ca/css/normalize.css' %}">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  	<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css"> -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css" />
  	<link rel="stylesheet" href="{% static 'ca/css/semantic.min.css' %}">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<link rel="icon" type="image/png" href="{% static 'ca/img/favicon.png' %}">
  	<meta name="theme-color" content="#455A64">

  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {% block title %}
      {% endblock %}
{#       | Campus Ambassador | Alcheringa, IIT Guwahati#}
    </title>
  </head>
  <body style="background-color: #C9D1D3">
    <nav class="navbar navbar-expand-lg navbar-custom navbarParent" >
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom" aria-controls="navbarCustom" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><img src="{% static 'ca/img/List (2).png' %}"></span>
  </button>
      <a href="{% url 'ca:home' %}" class="navbar-brand navbarBrandCustom">
      	<img src="{% static 'ca/img/logo black-1 (2).svg' %}" class="d-inline-block align-top">
      </a>

      <div class="navbar-collapse collapse" id="navbarCustom" style="z-index: 10;">
        <span class="navbar-text " id="navbarItems">
          <ul class="navbar-nav">
            <li class="nav-item {% if home_active %} active {% endif %} ml-2 mr-2">
              <a class="nav-link" href="{% url 'ca:home' %}">HOME </a>
            </li>
            <!-- <li class="nav-item {% if dashboard_active %} active {% endif %}  ml-2 mr-2">
              <a class="nav-link" href="#">DASHBOARD </a>
            </li> -->
            <li class="nav-item {% if guidelines_active %} active {% endif %}  ml-2 mr-2">
              <a class="nav-link" href="{% url 'ca:guidelines' %}">GUIDELINES </a>
            </li>
            <li class="nav-item {% if idea_active %} active {% endif %} ml-2 mr-2">
              <a class="nav-link" href="{% url 'ca:submitIdea' %}">SUBMIT IDEAS </a>
            </li>
            
            <li class="nav-item {% if more_active %} active {% endif %} dropdown">
              <a class="nav-link dropdown-toggle ml-2 mr-2" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="cursor: pointer; ">MORE.. </a>
              <div class="dropdown-menu dropdown-primary navbarDropdown" aria-labelledby="navbarDropdownMenuLink1">
                
                <!-- Load the template tag for the url -->
                <!-- <a class="dropdown-item navbarDropdownItem" href="% url 'ca:venue' %"> SUBMIT VENUE </a> -->
                <a class="dropdown-item navbarDropdownItem" href="{% url 'ca:poc' %}"> SUBMIT POC </a>
                <a class="dropdown-item navbarDropdownItem" href="{% url 'fb:invite_all' %}">SUBMIT FBINVITES </a>
                <a class="dropdown-item navbarDropdownItem" href="{% url 'ca:standings' %}"> STANDINGS </a>
                <a class="dropdown-item navbarDropdownItem" href="{% url 'ca:hospitality' %}"> HOSPITALITY </a>
                <a class="dropdown-item navbarDropdownItem" href="{% url 'ca:faqs' %}"> FAQ </a>
                <a class="dropdown-item navbarDropdownItem" href="{% url 'ca:contactUs' %}"> CONTACT US </a>
                <a class="dropdown-item navbarDropdownItem" href="{% url 'auths:logout' %}"> LOGOUT </a>
              </div>
            </li>


          </ul>
        </span>
      </div>
      <span id="profileImage" style="z-index: 10;">
      <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a href="#"><img style="border-radius: 50%;
  width: 40px;
  height: 40px;
" src="/media/{{user.profile.profile_image}}"></a></li>
    </ul>
</span>
    </nav>
    <br><br><br>
    <div class="container-fluid">
    <div class="row">
  <div class=" col-lg-3 d-none d-lg-block" style="padding-left: 3rem;">
    <div class="card">
      <div class="card-body">
        <p class="card-image" style="text-align: center;">
          <img src="/media/{{user.profile.profile_image}}" style="border-radius: 50%; width: 150px; height: 150px;" >
        </p>
        <p class="card-title" style="text-align: center;">
          <h3><!--NAME--></h3>
          </p>
          <br>
        <div class="card-text">
        <div style="float: left;"> Alcher ID: </div><div style="float: right;"> {{ user.profile.alcher_id }}</div><br><br>
        <div style="float: left;"> Score: </div><div style="float: right;"> {{ user.ca_details.score }}</div><br><br>
         {% comment %} <div style="float: left;"> Tri-weekly Score: </div><div style="float: right;">
          {{ user.ca_details.triweekly }}
        </div>
        <br><br>  {% endcomment %}
        </div>
      </div>
    </div>
  </div>

{% block body %}
{% endblock %}
  
	<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
	    <div class="mdl-snackbar__text"></div>
	    <button type="button" class="mdl-snackbar__action"></button>
	</div>

	<script type="text/javascript" src="{% static 'ca/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'ca/js/drawer.js' %}"></script>
	<script type="text/javascript" src="{% static 'ca/js/jquery_ui/jquery-ui.min.js' %}"></script>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script type="text/javascript" src="{% static  'ca/js/semantic.min.js'%}"></script>
  {% block js %}
  {% endblock %}

   <div class="col-lg-3 d-none d-lg-block" style="padding-right: 3rem;">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Notification</h4>
        {% for notification in notifications %}
        <a href="{{notification.notification_href}}" style="color: inherit; ">
        <p class="card-text" > {{ notification.notification_content|truncatechars:120 }}</p>
        </a>
        <hr>
        {% endfor %}
        <a href="{% url 'ca:notifications' %}">See All </a>
      </div>
    </div>
  </div>
</div>
</div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
