{% extends 'ca/base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
{#	<meta name="author" content="Kishor Malakar">#}
{#	<link rel="author" href="https://www.facebook.com/kishor.malakar" />#}
	<link rel="stylesheet" href="{% static 'ca/css/style.css'%}">
	<link rel="stylesheet" href="{% static 'ca/css/index.css'%}">
	<link rel="stylesheet" href="{% static 'ca/css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'ca/css/Roboto.css'%}">
	<link rel="stylesheet" href="{% static 'ca/css/normalize.css'%}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css">
	<link rel="stylesheet" href="{% static 'ca/semantic/dist/semantic.min.css'%}">>



	<link rel="icon" type="image/png" href="https://www.alcheringa.in/Alcheringa_Logo.png">
	<meta name="theme-color" content="#455A64">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Guidelines | Campus Ambassador | Alcheringa, IIT Guwahati{% endblock %}</title>

	<!--<?php require 'meta.php'; ?> -->
</head>
<body>

	<div class="wrapper content-grid mdl-grid mdl-grid--no-spacing">

	<!--	<?php include 'header.php'; ?> -->


		<!-- <?php include 'leftbar.php'; ?> -->

		<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

			<div class="content" style="width: 100%;">

				<div class="content_guidelines">

					<div class="content_guidelines_header">
						<h3>GENERAL GUIDELINES</h3>
					</div>

					<div class="walkthrough">

						<h4>PORTAL WALKTHROUGH</h4>

						<h5>DASHBOARD</h5>
						<p>Shows recent posts released from Alcheringa, IIT Guwahati page. You are required to share the posts as soon as they get released from our Facebook page. You can share the posts on your timeline, your friends timeline, direct messages to friends or FB groups that you belong to. You need to set your visibility to 'Public'. Please note that only posts shared from the Campus Ambassador portal will add to your total score. Improper shares will lead in deduction of genuine points</p>

						<h5>SUBMIT IDEA</h5>
						<p>Alcheringa is always looking for the people with creative & innovative ideas. Contribute towards making Alcheringa, IIT Guwahati better than ever by sharing your ideas, suggestions and feedbacks.</p>

						<h5>SUBMIT VENUE</h5>
						<p>City Audition is one of the most important phases of Alcheringa. Contribute in conducting City Auditions at your city by helping us with possible venues for the audition. Get bounty points and an opportunity to be a part of the organizing team of City Audition. Also there is some extra exciting prizes. whose suggested venue  </p>

						<h5>SUBMIT POC</h5>
						<p>Be the face of Alcheringa in your college and city - help us connect with the concerned authorities in your college.</p>

						<h5>STANDINGS</h5>
						<p>See where you stand among all the registered CAs! Most efficient CAs will receive prizes from Alcheringa every three weeks. Bonus points will be awarded to CAs for their exceptional work.</p>

					</div>

					<div class="points_system">

						<h4>POINTS SYSTEM</h4>

						<p>Each Facebook share equals 15 Points</p>
						<p>Each Idea equals 50 Points</p>
						<p>Each Venue equals 300 Points</p>
						<p>Each POC equals 50 Points</p>
						<p>Each Referral equals 50 Points</p>

						<p>After every three weeks, our tri-weekly winner will be announced and all your points will be reset to zero. For the next three weeks, every Campus Ambassador will again start from zero and battle their way up to the top of the leaderboard. We will be glad if you become the next tri-weekly winner of our Campus Ambassador Programme.</p>

						<p>Each of your input (FB Share, Idea, Venue, POC, Referral) will be reviewed by our team. Upon scrutiny, if certain input is found to be not matching our standards, respective points will be adjusted. FB share should have visibility set to 'public' to be eligible for points. Repeated sharing of the same post will not amount to addition of points. Each Idea, Venue, POC submitted should be genuine. Campus Ambassadors are requested not to follow unfair means. Continuous violation of rules will lead to debarment from the Campus Ambassador Programme.</p>

					</div>

				</div>

			</div> <!-- content -->

		</div>

		<!-- <?php include 'rightbar.php'; ?> -->

	</div><!-- .wrapper -->

	<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
	    <div class="mdl-snackbar__text"></div>
	    <button type="button" class="mdl-snackbar__action"></button>
	</div>

	<script type="text/javascript" src="{% static 'ca/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'ca/js/drawer.js' %}"></script>
	<script type="text/javascript" src="{% static 'ca/js/jquery_ui/jquery-ui.min.js' %}"></script>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}
</body>
</html>
