{% extends 'ca/base.html' %}
    {% load staticfiles %}


	{% block body %}Hospitality | Campus Ambassador | Alcheringa, IIT Guwahati{% endblock %}

	<!-- <?php require 'meta.php'; ?> -->

{% block body %}

	<div class="wrapper content-grid mdl-grid mdl-grid--no-spacing">


		<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

			<div class="content" style="width: 100%;">

				<div class="content_hospitality">

					<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

						<div class="mdl-tabs__tab-bar">
					    	<a href="#guidelines" class="mdl-tabs__tab is-active">GUIDELINES</a>
					    	<a href="#accommodation" class="mdl-tabs__tab">ACCOMMODATION</a>
							<a href="#reimbursement" class="mdl-tabs__tab">REIMBURSEMENT</a>
					    	<a href="#howtoreach" class="mdl-tabs__tab">TRANSPORTATION</a>
						</div>

						<div class="mdl-tabs__panel is-active" id="guidelines">

						  	<p>Participants are requested to report at least half an hour before each event at the event venue.</p>

						  	<p>Recorded music files required in some event should be submitted to the organizer of the event at least 1 hour before the event starts in a format compatible with Windows Media Player, preferably mp3 format.</p>

						  	<p>Any form of obscene, unacceptable behavior or language, vulgarity, on or off stage will lead to immediate disqualification of the team.</p>

						  	<p>Any kind of damage to the stage during the performance will lead to imposition of a hefty monetary penalty on the responsible team. Any kind of damage to the infrastructure of IIT Guwahati during the entire stay will also attract a penalty.</p>

						  	<p>Team Alcheringa will not be responsible for any loss or damage incurred by the team during their stay in the campus.</p>

						  	<p>Judges decision will be final and binding on all participants in all events. Any complaints regarding judges, decisions will not be entertained.</p>

						  	<p>Organizers reserve the right to admission, right to change the rules and to change or cancel any event without any prior notice.</p>

						  	<p>Please notify us 5 days in advance of your scheduled arrival such that we can arrange for your travel to the campus.</p>

						  	<p>Faculty will be accommodated in separate rooms.</p>

						  	<p>All participants are required to carry their college identity cards or a bonafide certificate.</p>

						  	<p>Consumption of alcoholic drinks and/or narcotic drugs in the campus is strictly prohibited. Participants shall not enter the campus in intoxicated state and should not possess such materials.</p>

						  	<p>IIT Guwahati is strictly a no smoking zone.</p>

						  	<p>Organizers decision is final in case of any complaints.</p>

						</div>

						<div class="mdl-tabs__panel" id="accommodation">

						  	<p>We at Alcheringa, strive to make your short stay with us, as pleasant and comfortable as we can. You will have to register yourself at the Hospitality Desk upon arrival in IITG campus. Allotment of accommodation, mess facilities, etc. are some of the functions of the Hospitality Desk. Whether you are worried about your accommodation, food and transport, wondering what the events are all about, confused about the schedule or worried about your registrations, we will be at your service 24 hours a day. Hospitality Control Desk will be set up at Dihing Hostel. Directions to reach Hospitality Control desk will be there inside the campus. Production of ID card is mandatory at the Hospitality Desk. Alcheringa 2019 ID cards will be issued to each team member after registration and production of ID card will be compulsory for taking part in any event. Volunteers will be there to guide you from Hospitality Control Desk to your accommodation.</p>

						  	<h4>Accommodation</h4>

						  	<p>• All accommodation will be done in various hostels of IITG, information of which will be given to you at the time of registration.</p>
						  	<p>• Accommodation charges applicable per person are as follows:</p>
						  	<p>• A minimum of ₹800 will be charged for 4 days starting from 31st Jan-3rd Feb.</p>
						  	<p>• An additional amount of ₹200 will be charged per day after the 4 days NOTE: You will be charged the same amount if you reach before 31st Jan.</p>
                                                        <p>Blankets are available at the extra cost of Rs. 100 which will be refunded after the return of undamaged blanket. </p>
                                                        <p>Accommodation can be availed through submitting request mail to publicrelations@alcheringa.in after the successful submission of PNR(for outside North-East teams) which will be opened from last week of October to 15 days prior to fest, i.e., 15th Jan 2019. </p>
                                                        <p>Your Accommodation request will be confirmed through a message on your submitted number. We will also send you a request approval confirmation mail.</p>
						  	<p>After 15th Jan 2019, only for special cases, accommodation will be given on-spot subject to the availability. </p>
						  	<p>• We suggest you to bring your basic requirements (like toothbrush, bed sheet etc.) for your stay in IITG.</p>
						  	<p>• Accommodation will be strictly on a first-come-first-serve basis.</p>
						  	<p>• The amount mentioned above DOES NOT INCLUDE MEALS.</p>
						  	<p>On ground of suspicions, your luggage can be checked by authorities. </p>
                                                        <p>Alcohol/ Drugs/ Smoking are strictly prohibited inside the campus. Violating above rules will lead to cancellation of accommodation immediately and/or depending on the severity, fine will be imposed. </p>

						  	<h4>Food</h4>
						  	<p>Food arrangements will be done in the hostel's mess where you will be staying, which will be available on a payment basis. Alternatively you can eat from food stalls all over the campus or from hostel canteens.</p>

						</div>

						<div class="mdl-tabs__panel" id="reimbursement">

						  	<table>
						  		<tr>
						  			<th>Team size</th>
						  			<th>Two way reimbursement per person</th>
						  		</tr>
						  		<tr>
						  			<td>25 and above</td>
						  			<td>50%</td>
						  		</tr>
						  		<tr>
						  			<td>16 to 24</td>
						  			<td>40%</td>
						  		</tr>
						  		<tr>
						  			<td>11 to 15</td>
						  			<td>35%</td>
						  		</tr>
						  		<tr>
						  			<td>6 to 10</td>
						  			<td>30%</td>
						  		</tr>
						  		<tr>
						  			<td>Below 6</td>
						  			<td>25%</td>
						  		</tr>

						  	</table>

						  	<div id="reimburesement_rules">

						  		<p>All reimbursements will be made with respect to sleeper class train fare irrespective of the mode of transportation.</p>

						  		<p>Reimbursement will be done from the evening of 3rd Feb 2019 to 5th Feb 2019.</p>

						  		<p>If the number of team members increases without prior notice reimbursements will be made according to the original size of the team as per our database.</p>

                                                                <p>Only teams availing online accommodation request will be considered for reimbursement.</p>

						  		<p>For teams traveling through split train journey, first the shortest distance traveled by the team is calculated and the equivalent direct train sleeper class fare is calculated from the Indian railways website and the reimbursement is done accordingly.</p>

						  		<p>All participants are required to produce their Accommodation Slip and ticket in order to avail any reimbursement.</p>

						  		<h4>Note:</h4>

						  		<p>i) MAXIMUM REIMBURSEMENT PER PERSON THAT WILL BE GIVEN IS RS. 500.</p>

						  		<p>ii) NO REIMBURSEMENT WILL BE GIVEN TO TEAMS TRAVELLING BY BUS.</p>

						  		<p>Example: If a 7 member team is travelling from Delhi (one way fare 400), each team member will be given 30% of the two way fare (i.e. 30% of Rs.800 = Rs.240).</p>

						  	</div>

						</div>

						<div class="mdl-tabs__panel" id="howtoreach">

						  	<div id="google_map">

						  	</div>

						  	<h4>From Railway Station</h4>

						  	<p>• We will try to provide you with transportation to IITG campus provided you have registered beforehand and given us adequate details. We will get in contact with you as soon as you reach Guwahati Railway Station.</p>
						  	<p>• In case we are not able to provide you with transportation, you have the following options :</p>
						  	<p>• Green Valley buses (white and green carrying IITG placard), provided by institute will ply to and from the city almost every hour and will operate from Pan Bazaar Water Tank near Hotel President, a stone’s throw from the railway station.</p>
						  	<p>• Auto rickshaws (@Rs. 150-175) or Sumos (@Rs. 300-350) is the another option.</p>
						  	<p>• Ferry services are available from ferry ghat Fancy Bazar.</p>

						  	<h4>From Airport</h4>

						  	<p>• We will try to provide you with transportation to the IITG campus provided you have registered with us giving adequate details and your team has at least 25 members.</p>
						  	<p>• You can hire a pre-paid taxi (@Rs. 475-500) to IIT Guwahati. Inside the campus, get down at the hospitality desk (which will probably be at DIHING Hostel).</p>

						  	<h4>Note:</h4>

						  	<p>Picking up of participants is subjected to availability of transportation facility.</p>
						  	<p>Participants need to inform us at least a week in advance by emailing us at: <a href="mailto:publicrelations@alcheringa.in" target=#>publicrelations@alcheringa.in</a>.</p>
                                                        <p>Transportation will be provided to the teams that have registered earlier and confirmed their transportation with the transportation team 3 days prior to their travel.</p>
                                                        <p>Also participants should inform their status to the Head of Transportation Team(contact will be shared later) 1 hour before they reach Guwahati Railway Station.</p>

						  	<p>Confirmations for the same will be emailed to you.</p>

						  	<h4>On reaching IIT Guwahati</h4>
						  	<p>• The hospitality team will be there to guide you with the procedure to register for the events and accommodation. Some valuable information regarding the same is given below:</p>
						  	<p>• Hospitality Control Desk will be set up at Dihing Hostel (in case of any change in location, you will be informed beforehand). Directions to reach Hospitality Control desk will be there inside the campus (We will be in contact with you as soon as you reach Guwahati).</p>
						  	<p>•<b>ID card </b>is mandatory at the time of registration at the Hospitality Desk. Alcher’19 ID cards will be issued to each team member after registration and Alcher ID card will be compulsory for taking part in any event.</p>
						  	<p>• Volunteers will be there to guide you from Hospitality Control Desk to your accommodation.</p>

						</div>

					</div>

				</div><!-- .content_hospitality_content -->

			</div> <!-- content -->

		</div>

		<!-- <?php include 'rightbar.php'; ?> -->

	</div><!-- .wrapper -->

	<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
	    <div class="mdl-snackbar__text"></div>
	    <button type="button" class="mdl-snackbar__action"></button>
	</div>

	<script type="text/javascript" src="{% static 'ca/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'ca/js/drawer.js' %}"></script>
	<script type="text/javascript" src="{% static 'ca/js/jquery_ui/jquery-ui.min.js' %}"></script>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAatZZjE_DYeelJ3pVIOnRBRb2604rVazs&callback=initMap"></script>
	<script type="text/javascript">

		function initMap(){
			var uluru = {lat: 26.1877486, lng: 91.699509};
			var map = new google.maps.Map(document.getElementById('google_map'), {
				zoom: 8,
				center: uluru
			});
			var marker = new google.maps.Marker({
				position: uluru,
				map: map
			});
		};

	</script>
{% endblock %}


