{% extends 'ca/base.html' %}
{% load static %}
{% block title %}Submit Idea | Campus Ambassador | Alcheringa, IIT Guwahati{% endblock %}
{% block body %}
	<div class="col-lg-6">
		<div class="content_idea">

			<div class="content_idea_header">

				<p>Once to invite all your friends to like Alcheringa Page  on facebook ,take a scrrenshot and upload it here .Score will be increased once the invites are verified.</p>

			</div>
			<form method="POST" enctype = "multipart/form-data" class = "image_form content_idea_header pt-3 mt-3">
				{% csrf_token %}
				<div class="invite_image_div">
					<label for="image" >Invite all Image </label><br />
					<input type="file" name ="invites_image" id="file" class="file_input" multiple>
				</div>

				<button class="idea_submit ui button mt-5" type="button">SUBMIT</button>
			</form>
			<div class="submitted_ideas">
				<p>Submitted Images</p>
				{% if invites|length > 0 %}
					{% for submission in invites %}
						<div class="invite_image_div" style ="display:flex;justify-content : space-between ;padding : 10px 20px ;background-color:white ;align-items :center ;flex-wrap:wrap;overflow:hidden">
							<div class="status" >
								<p id="{{ submission.approval }}">Status</p>
								{% if submission.approval == 1 %}
									<p style="color:green">Admin approved </p>
								{% elif submission.approval == -1 %}
									<p style="color:red"> Admin disapproved </p>
								{% else %}
									<p style ="color:#2d2d2d">Pending<p>
								{% endif %}
							</div>
							
							{% for image in submission.fb_images.all %}
										<img src="/media/{{ image.image }}" style="max-width:300px; object-fit: cover;object-position: center; max-height: 400px;height: 100%;
									box-shadow: 2px 2px 2px grey;">
							{% endfor %}
						</div> 
					{% endfor %}
				{% else %}
					<div class='no_idea error_box'>
						<p>You haven't submitted any image yet.</p>
					</div>
				{% endif %}
				<style>
						@media (max-width : 700px){
						.invite_image_div img{
							max-width : 280px!important ;
						}
						}
						.invite_image_div{
						padding:10px!important ;
						}
				</style>
			</div><!-- .wrapper -->
		</div>
	</div>
{% endblock %}
{% block js %}
	<script type="text/javascript">
		$(function(){
			$('.idea_submit').click(function(){
				$(this).addClass('loading disabled');
				var $this = $(this);
				var form = $('.image_form')
				console.log(form[0],form)
				var formData = new FormData(form[0]);
				console.log(formData)
				console.log($('#file')[0].files)
				let total_size = 0 ;
				for(let file of $('#file')[0].files){
					console.log(file);
					var imgname = file.name; 
					var size = file.size ;
					var ext = imgname.substr((imgname.lastIndexOf('.') + 1));
					let checker  =(ext == 'jpg' || ext == 'jpeg' || ext == 'png' || ext == 'gif' || ext == 'PNG' || ext == 'JPG' || ext == 'JPEG') && (total_size< 5120 * 1000) ;
					console.log(ext,checker);
					if(!checker){
						
						var notification = document.querySelector('.mdl-js-snackbar');
						var data = {
							message: "Reduce File size below 5mb or file name should end with png|jpeg|jpg|PNG|JPG|JPEG",
							timeout: 2000
						};
						notification.MaterialSnackbar.showSnackbar(data);
													$this.removeClass('loading disabled');
													return 
			
					}
					total_size +=file.size

				 }
				$.ajax({
					type: "POST",
					url: "{% url 'fb:invite_all' %}",
					contentType :false ,
											cache : false,
											processData : false ,
												headers: {
											'X-CSRF-Token': $("input[name=csrfmiddlewaretoken]").val()
												},
					data: formData,
					success: function(response){
						console.log(response);
						$this.removeClass('loading disabled');

						if(response.session == "Session Error"){
							var notification = document.querySelector('.mdl-js-snackbar');
							var data = {
								message: 'Session Expired',
								timeout: 2000
							};
							notification.MaterialSnackbar.showSnackbar(data);

							setTimeout(function(){
								window.location.href = "../registrations/";
							}, 3000);
						}

						if(response.stat == "Success"){
							var notification = document.querySelector('.mdl-js-snackbar');
							var data = {
								message: response.message,
								timeout: 2000
							};
							notification.MaterialSnackbar.showSnackbar(data);
							let imgs = response.images.map(image=>{
								return `<img src="${image}" style="max-width:300px ; object-fit: cover;object-position: center; max-height: 400px;height: 100%;
										box-shadow: 2px 2px 2px grey;">`
							})
							$('.submitted_ideas').append(`
											<div class="invite_image_div" style ="display:flex;justify-content : space-between ;padding : 10px 20px ;background-color:white ;align-items :center ;flex-wrap:wrap">
									<div class="status" >
										<p>Status</p>
										<p style ="color:#2d2d2d">Pending<p>				     
								</div>
								${imgs}
								</div>`
								)
							$('.no_idea').slideUp()	
						}
						if(response.stat == "Failure"){
							var notification = document.querySelector('.mdl-js-snackbar');
																var data = {
								message: response.message,
								timeout: 2000
							};
							notification.MaterialSnackbar.showSnackbar(data);
						}

					}
				});
		   });
		});
	</script>

{% endblock %}
