{% extends 'ca/base.html' %}
    {% load staticfiles %}



{% block title %} Campus Ambassador | Alcheringa, IIT Guwahati{% endblock %}

{% block body %}
<div class="wrapper content-grid mdl-grid mdl-grid--no-spacing">



		<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

			<div class="content">

				<div class="ca_pending">

					<i class='material-icons'>sentiment_very_satisfied</i>
					<p>Your profile has been sent for verification. Please sit back and relax while we go through your application.</p>
					<p>You will be notified via mail as and when your application is approved.</p>
					<br>
					<p>Click Here to visit our <a href='http://ca.alcheringa.in/'>Campus Ambassador Website</a>.</p>

				</div>

			</div> <!-- content_ca_pending -->
			
		</div>

	
	</div>
{% endblock %}