{% extends 'ca/base.html' %}
    {% load static %}



{% block title %} Campus Ambassador | Alcheringa, IIT Guwahati{% endblock %}

{% block body %}
<div class="col-lg-6">


				<div class="ca_pending" style="background-color: white;">

					<i class='material-icons'>sentiment_very_satisfied</i>
					<p>Your profile has been sent for verification. Please sit back and relax while we go through your application.</p>
					<p>You will be notified via mail as and when your application is approved.</p>
					<br>
					<p>Click Here to visit our <a href='http://ca.alcheringa.in/'>Campus Ambassador Website</a>.</p>

				</div>

	
	</div>
{% endblock %}