
{% extends 'ca/base.html' %}
    {% load static cache %}

{% block title %}Standings | Campus Ambassador | Alcheringa, IIT Guwahati{% endblock %}

	<!-- <?php require 'meta.php'; ?> -->

{% block body %}
	<div class="col-lg-6">

		<!-- <?php include 'header.php'; ?>

		<?php include 'leftbar.php'; ?> -->

				<div class="content_standings">

					<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

							<div class="mdl-tabs__tab-bar">
						    	<a href="#myscore" class="mdl-tabs__tab is-active">MY SCORE</a>
						    	<a href="#leaderboard" class="mdl-tabs__tab">LEADEROARD</a>
							</div>

							<div class="mdl-tabs__panel is-active" id="myscore">

								

								<div class="overall">

									<p>Overall Score</p>

									<!-- <?php

										$score_query = mysqli_query($connect_ca,
											"SELECT ca_details.alcher_id as alcher_id, ca_details.fullname as name, COUNT(distinct idea.id) as idea_count, COUNT(distinct poc.id) as poc_count, COUNT(distinct venue1.id) as venue_count, COALESCE(shares_count.shares,0) as share_count, COUNT(distinct ca_questionnaire.alcher_id) as referral_count,
											(((COUNT(distinct idea.id))*50)+((COUNT(distinct poc.id))*50)+((COUNT(distinct venue1.id))*300)+((COALESCE(shares_count.shares,0))*15)+((COUNT(distinct ca_questionnaire.alcher_id))*20)) as total FROM ca_details
											LEFT JOIN idea ON ca_details.alcher_id = idea.alcher_id and idea.approval = 1
											LEFT JOIN poc ON ca_details.alcher_id = poc.alcher_id and poc.approval = 1
											LEFT JOIN shares_count ON ca_details.alcher_id = shares_count.alcher_id
											LEFT JOIN venue1 ON ca_details.alcher_id = venue1.alcher_id and venue1.approval = 1
											LEFT JOIN ca_questionnaire ON ca_details.alcher_id = ca_questionnaire.referral_code
											WHERE ca_details.alcher_id = '$alcher_id'"
											);

										$score = $score_query->fetch_assoc();
										$idea_count = $score['idea_count'];
										$poc_count = $score['poc_count'];
										$venue_count = $score['venue_count'];
										$share_count = $score['share_count'];
										$referral_count = $score['referral_count'];
										$total = $score['total'];
									?> -->
										
										<table>
											
										</table>
										<table>
											<tr><td>Total Score</td><td>{{ triweekly_score }}</td></tr>
											<tr><td>Idea Submitted</td><td>{{ idea_count }}</td></tr>
											<tr><td>POC Submitted</td><td>{{ poc_count }}</td></tr>
											<tr><td>Venue Submitted</td><td>{{ venue_count }}</td></tr>
											<tr><td>FB Shares</td><td>{{ fbscore }}</td></tr>
											<tr><td>Referred CAs</td><td>{{ referral_count }}</td></tr>
										</table>


								</div>

							</div><!-- myscore -->
							{% cache 30 leaderboard %}
							<div class="mdl-tabs__panel" id="leaderboard">

								{% comment %} <div class="triweekly">

									<p>Tri Weekly Leaderboard</p>

									
										<table>

											<tr><th>Rank</th><th>ALCHER ID</th><th>Name</th><th>Score</th></tr>
											{% for person in triweekly_standings %}
												<tr><td>{{forloop.counter}}</td><td> {{person.user.profile.alcher_id}} </td><td> {{person.user.profile.fullname}} </td><td>{{person.triweekly}}</td></tr>

											{% endfor %}
											

										</table>
										
								</div> {% endcomment %}

								<div class="overall">

									<p>Overall Leaderboard</p>

									

										<table>

											<tr><th>Rank</th><th>ALCHER ID</th><th>Name</th><th>Score</th></tr>
											{% for person in overall_standings %}
												<tr><td>{{forloop.counter}}</td><td> {{person.user.profile.alcher_id}} </td><td> {{person.user.profile.fullname}} </td><td>{{person.score}}</td></tr>

											{% endfor %}
											

										</table>


								</div>
								{% comment %} {% if last_triweekly_winner %}
								<div class="winners">

									<p>Previous Triweekly Winners</p>

									<table>

									<tr><td>S/L</td><td>Name</td><td>ALCHER ID</td></tr>

									
										<tr><td>1</td><td>{{last_triweekly_winner.user.profile.fullname}}</td><td>{{last_triweekly_winner.user.profile.alcher_id}}</td></tr>
									</table>

								</div>
								{% endif %} {% endcomment %}
							</div><!-- overall -->
							{% endcache %}
					</div>

				</div> <!-- content_standings -->

		<!-- <?php include 'rightbar.php'; ?> -->

	</div><!-- .wrapper -->

	<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
	    <div class="mdl-snackbar__text"></div>
	    <button type="button" class="mdl-snackbar__action"></button>
	</div>


	<script type="text/javascript" src="{% static 'ca/js/jquery.js'%}"></script>
	<script type="text/javascript" src="{% static 'ca/js/drawer.js'%}>"></script>
	<script type="text/javascript" src="{% static 'ca/js/jquery_ui/jquery-ui.min.js'%}"></script>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}

