{% extends 'base.html' %}
    {% load static %}



{% block title %} Signup | Campus Ambassador | Alcheringa, IIT Guwahati{% endblock %}

{% block content %}
<div style="display:grid;place-items:center;flex:1 ; height : auto ;max-width:500px" class="w3-container w3-padding">
<div>
<div class="w3-container w3-round-large" style="background:#ffffff">
  
  <div class="w3-panel w3-blue w3-card-4 w3-round-large" style="padding:5px 10px 5px 10px">
    <div class="w3-container"><h4>Good to know you,</h4>
  <p>An activation mail has been sent to your Email ID
  </div>
  </div>
  
  <div class="w3-container">
      <ol>
					<p><strong>PLEASE NOTE</strong>: If you didn't receive an email from us-</p>
					<li>Check your Promotion/Updates/Spam/Junk Folder</li>
					<li>Keep in mind, it can take a while, even a few hours for you to receive your email confirmation.</li>
					<li>You can try to fill in the form once again, remember to make sure your email address is correct.</li>
					<li>Remember to mark our Email ID 'publicrelations@alcheringa.in' as important so that all future emails directly go to your inbox.</li>
					<li>If you still haven't received any mail or the confirmation link is not working, kindly let us know by sending an email at publicrelations@alcheringa.in. We will be happy to help you out.</li>
				</ol>
				<!-- <a href="https://www.alcheringa.in/registrations/index.php" alt="Login page" style="margin: 0 auto;/*! position: relative; */display: block;margin-bottom: 20px;" class="w3-button w3-round-medium w3-center w3-blue">Go to Registration Portal Login</a> -->
				<a href="{% url 'auths:login' %}" alt="Login page" style="margin: 0 auto;/*! position: relative; */display: block;margin-bottom: 20px;" class="w3-button w3-round-medium w3-center w3-blue">Go to CA Portal Login</a>
				<a href="{% url 'auths:register' %}" alt="Login page" style="margin: 0 auto;/*! position: relative; */display: block;margin-bottom: 20px;" class="w3-button w3-round-medium w3-center w3-blue">Go to CA Portal Register</a>
      
  </div>
  
</div>
</div>
</div>
{% endblock %}
