{% extends 'base.html' %}
    {% load static %}



{% block title %} Login | Campus Ambassador | Alcheringa, IIT Guwahati{% endblock %}

{% block content %}

<div style="display:grid;place-items:center;flex:1 ; height : auto ;">
<div>
                        
<div class="container" style="height : auto;">
	 {% if messages %}
        {% for message in messages %}
        {% if message.tags %} <script>alert('{{message}}')</script> {% endif %}

        {% endfor %}

    {% endif %}
  <form action="" method="POST" onsubmit="return is_valid_ca_login_form()">
  	{% csrf_token %}
    <div class="row">
      <h4 style="text-align:center;text-transform:uppercase">Campus Ambassador Portal</h4>
      
      <div style="max-width:320px;padding:0 5px 0 5px;margin-left:auto;margin-right:auto;">
      <p style="color:#b2b2b2;direction:ltr">Campus ambassadors are our representatives in your college. Work with us to make <b style='color:#000'>Alcheringa</b> bigger and better.</p>
      <br>
      </div>
      
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
          
		<a href="{% url 'auths:social:begin' 'facebook' %}" class='fb btn'>
			<i class='fa fa-facebook fa-fw'></i> Login with Facebook
		</a>
        
        
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>
        <div class="sign_up_error" style="color:#d50000;font-size:15px;">
							{{login_error}}
	    </div>
        

<div class="email_div">

										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="email" id="ca_email" name="ca_email"
											value="">
											<label class="mdl-textfield__label" for="ca_email">Email ID</label>
											<span class="mdl-textfield__error">Please enter a valid Email ID</span>
										</div>

										<div class="email_error input_error"><p>{{ email_error }}</p></div>

									</div>

									<div class="password_div">

										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<input class="mdl-textfield__input" type="password" id="ca_password" name="ca_password">
											<label class="mdl-textfield__label" for="ca_password">Password</label>
											<span class="mdl-textfield__error">Please enter a valid Phone No</span>
										</div>

										<div class="password_error  input_error"><p>{{password_error}}</p></div>

									</div>

									<!-- <div class="forgot_password_div">
										<a href="{% url 'password_reset' %}">Forgot Password</a>
									</div> -->

									<input type='submit' name='ca_login' id="ca_login_button" value='LOG IN' class='btn'>
        
      </div>
      
    </div>
  </form>
</div>

<div class="bottom-container">
  <div class="row">
    
    <div class="col">
      <a href="{% url 'password_reset' %}" style="color:white" class="btn">Forgot password?</a>
    </div>
	<!-- <div class="col">
      <a href="{% url 'auths:social:begin' 'facebook' %}" style="color:white" class="btn">Signin with Facebook</a>
    </div> -->
  </div>
</div>
</div>
</div>



  {% endblock %}


  {% block js %}
  					
<script>
    


  function isEmail(email){
    var regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return regex.test(email);
  }
  
  
  
  </script>
<script>
    function is_valid_ca_login_form(){
        var s1=true,s2=true;
        if(!isEmail($('#ca_email').val())){
            s1 = false;
            $('.ca_login_email_error').show();
        }
        if($('#ca_password').val() == '' || $('#ca_password').val() == ' ' || $('#ca_password').val().length == 0 ){
            $('.ca_login_password_error').show();
            s2=false;
        }
        if(s1 && s2){
            
            
            $('#ca_login_button').append(' <i class="fa fa-refresh fa-spin "></i>').css({'pointer-events':'none','opacity':'0.2'});
        }
        return s1 && s2;
    }
    
</script>			
		{% endblock %}
					
