{% extends 'base.html' %}
    {% load static %}



{% block title %} Signup | Campus Ambassador | Alcheringa, IIT Guwahati{% endblock %}

{% block content %}
<div style="display:grid;place-items:center;flex:1 ; height : auto ;">
 <div>                      
<div class="container" style="height : auto;">

  
    <div class="row">
    	 {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
      <h4 style="text-align:center;text-transform:uppercase">Campus Ambassador Portal</h4>
      
      <div style="max-width:320px;padding:0 5px 0 5px;margin-left:auto;margin-right:auto;">
      <p style="color:#767676;direction:ltr">Campus ambassadors are our representatives in your college. Work with us to make <b style='color:#000'>Alcheringa</b> bigger and better.</p>
      <br>
      </div>
      
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
                        
        
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign up manually:</p>
          
        </div>
        <div class="sign_up_error" style="color:#d50000;font-size:11px;">
			{{signup_error}}
						
	    </div>
        
        
        <form id='create_account_form' action='' method='POST'>
            {% csrf_token %}
                                                      <!---  <div class="email_div">

								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="email" id="email" name="email"
									value="{{ user.email }}">
									<label class="mdl-textfield__label" for="email">Email Id</label>
									<span class="mdl-textfield__error">Please enter a valid Email ID</span>
									<span class="email_error input_error"><p>{{email_error}}</span>
								</div>


							</div>


						--->

							<div class="phone_div">

								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="tel" id="phone" name="phone"
									value="" pattern="{{phone_pattern}}">
									<label class="mdl-textfield__label" for="phone">Phone Number</label>
									<span class="mdl-textfield__error">Please enter a valid Phone No</span>
								</div>

								<div class="phone_error input_error"><p>{{phone_error}}</p></div>

							</div>


							<div class="gender_div">
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="gender_male">
									<input type="radio" id="gender_male" class="mdl-radio__button" name="gender"
									value="M">
									<span class="mdl-radio__label">Male</span>
								</label>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="gender_female">
									<input type="radio" id="gender_female" class="mdl-radio__button" name="gender"
									value="F">
									<span class="mdl-radio__label">Female</span>
								</label>

								<div class="gender_error input_error"><p>{{gender_error}}</p></div>
							</div>

							<div class="team_name_div">

								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="text" id="team_name" name="team_name"
										value="" pattern="{{team_name_pattern}}">
									<label class="mdl-textfield__label" for="team_name">College/Institute/Team Name</label>
									<span class="mdl-textfield__error">Only letters, digits, comma and space are allowed</span>
								</div>

								<div class="team_name_error input_error"><p>{{team_name_error}}</p></div>

							</div>
                                                         
							<div class="interests_div">
								Pick Your Interests
								<select name='interests[]' form='create_account_form' multiple id='interests' class="ui fluid search dropdown">
									
									{% for interest in interests_list %}
									<option value='{{interest.id}}'>{{interest.name}}</option>
									{% endfor %}

								</select>

								<div class="interests_error input_error"><p>{{interests_error}}</p></div>
							</div>

							

							<div class="sign_up">
							    <button style="" name="create_account" id="ca_login_button" class="btn">CREATE ACCOUNT</button>
								
							</div>

		</form>
        <!-- -->
      
      </div>
      
    </div>
  
  
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col-12">
      <a href="{% url 'auths:login' %}" style="color:white" class="btn">Login </a>
    </div>
    
  </div>
</div>
</div>
</div>

{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'ca/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'ca/js/drawer.js' %}"></script>
	<script type="text/javascript" src="{% static 'ca/js/functions.js' %}"></script>
	<script type="text/javascript" src="{% static 'ca/js/jquery_ui/jquery-ui.min.js' %}"></script>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script type="text/javascript" src="{% static 'ca/semantic/dist/semantic.min.js' %}"></script>
	<script type="text/javascript">
		$(function(){
			$('#interests').dropdown();

			$('.login_form_slider').click(function(){
				var $this= $(this);
				$this.parent().slideUp(function(){
					$this.parent().next().slideDown();
				});
				
			});

			$('#sign_up_button').click(function(){
				$('.login_div').slideUp(function(){
					$('.sign_up_div').slideDown();
				});
				$('#sign_up_button').animate({'background-color': '#2abfbf', 'color': 'white'}, 400);
				$('#login_button').animate({'background-color': 'white', 'color': '#2abfbf'}, 400);
			});
			$('#login_button').click(function(){
				$('.sign_up_div').slideUp(function(){
					$('.login_div').slideDown();
					$('.login_div').css({'display': 'flex'});
				});
				$('#login_button').animate({'background-color': '#2abfbf', 'color': 'white'}, 400);
				$('#sign_up_button').animate({'background-color': 'white', 'color': '#2abfbf'}, 400);
			});
			
		});
	</script>
{% endblock %}
					
				
