{% extends 'base.html' %}
    {% load static %}



{% block title %} Signup | Campus Ambassador | Alcheringa, IIT Guwahati{% endblock %}

{% block content %}
<div style="margin-left: auto;margin-right: auto;max-width: 800px;margin-top:10px;">
                        
<div class="container">
  
    <div class="row">
    	 {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
      <h4 style="text-align:center;text-transform:uppercase">Campus Ambassador Portal</h4>
      
      <div style="max-width:320px;padding:0 5px 0 5px;margin-left:auto;margin-right:auto;">
      <p style="color:#767676;direction:ltr">Campus ambassadors are our representatives in your college. Work with us to make <b style='color:#000'>Alcheringa</b> bigger and better.</p>
      <br>
      </div>
      
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
		<a href="{% url 'auths:social:begin' 'facebook' %}" class='fb btn'>
			<i class='fa fa-facebook fa-fw'></i> Login with Facebook
		</a>
        
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign up manually:</p>
          
        </div>
        <div class="sign_up_error" style="color:#d50000;font-size:15px;">
			{{signup_error}}
						
	    </div>
        
        
        <form id='create_account_form' action='' method='POST'>
            {% csrf_token %}

							<div class="fullname_div">

								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="text" id="fullname" name="fullname"
									value="" pattern="{{name_pattern}}">
									<label class="mdl-textfield__label" for="fullname">Full Name</label>
									<span class="mdl-textfield__error">Only letters and white spaces are allowed</span>
									<span class="fullname_error input_error">{{fullname_error}}</span>
								</div>


							</div>

							<div class="email_div">

								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="email" id="email" name="email"
									value="">
									<label class="mdl-textfield__label" for="email">Email ID</label>
									<span class="mdl-textfield__error">Please enter a valid Email ID</span>
									<span class="email_error input_error"><p>{{email_error}}</span>
								</div>


							</div>

							<div class="phone_div">

								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="tel" id="phone" name="phone"
									value="" pattern="{{phone_pattern}}">
									<label class="mdl-textfield__label" for="phone">Phone Number</label>
									<span class="mdl-textfield__error">Please enter a valid Phone No</span>
									<span class="phone_error input_error">{{phone_error}}</span>
								</div>


							</div>

							<div class="gender_div">
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="gender_male">
									<input type="radio" id="gender_male" class="mdl-radio__button" name="gender"
									value="M">
									<span class="mdl-radio__label">Male</span>
								</label>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="gender_female">
									<input type="radio" id="gender_female" class="mdl-radio__button" name="gender"
									value="F">
									<span class="mdl-radio__label">Female</span>
								</label>
								<br>
								<span class="gender_error input_error">{{gender_error}}</span>

							</div>

							<div class="team_name_div">

								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="text" id="team_name" name="team_name"
										value="" pattern="{{team_name_pattern}}">
									<label class="mdl-textfield__label" for="team_name">College/Institute/Team Name</label>
									<span class="mdl-textfield__error">Only letters, digits, comma and space are allowed</span>
									<span class="team_name_error input_error">{{team_name_error}}</span>
								</div>


							</div>

							<div class="interests_div">
								Pick Your Interests
								<select name='interests[]' form='create_account_form' multiple id='interests' class="ui fluid search dropdown">
									
									{% for interest in interests_list %}
									<option value='{{interest.id}}'>{{interest.name}}</option>
									{% endfor %}

								</select>

								<span class="interests_error input_error">{{interests_error}}</span>
							</div>

							<div class="password_div">

								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="password" id="password" name="password" pattern="[^\s]+">
									<label class="mdl-textfield__label" for="password">Password (min 8 chars required.)</label>
									<span class="mdl-textfield__error">White spaces are not allowed</span>
									<span class="password_error  input_error">{{password_error}}</span>
								</div>


              </div>
              {% comment %} <div class="form_general_error input_error style='display: block "><p>{{form_general_error}}</p></div> {% endcomment %}

							<div class="sign_up">
							    <button style="" name="create_account" id="ca_login_button" class="btn">CREATE ACCOUNT</button>
								
							</div>

		</form>
        <!-- -->
      
      </div>
      
    </div>
  
  
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="{% url 'auths:login' %}" style="color:white" class="btn">Login </a>
    </div>
    
  </div>
</div>
</div>
					
{% endblock %}

{% block js %}

<script type="text/javascript">
		$(function(){
			// $('#interests').dropdown();

			$('.login_form_slider').click(function(){
				var $this= $(this);
				$this.parent().slideUp(function(){
					$this.parent().next().slideDown();
				});
				
			});

			$('#sign_up_button').click(function(){
				$('.login_div').slideUp(function(){
					$('.sign_up_div').slideDown();
				});
				$('#sign_up_button').animate({'background-color': '#2abfbf', 'color': 'white'}, 400);
				$('#login_button').animate({'background-color': 'white', 'color': '#2abfbf'}, 400);
			});
			$('#login_button').click(function(){
				$('.sign_up_div').slideUp(function(){
					$('.login_div').slideDown();
					$('.login_div').css({'display': 'flex'});
				});
				$('#login_button').animate({'background-color': '#2abfbf', 'color': 'white'}, 400);
				$('#sign_up_button').animate({'background-color': 'white', 'color': '#2abfbf'}, 400);
			});
			
		});
  </script>
		{% endblock %}
  