{% extends 'base.html' %}
    {% load static %}



{% block title %} Password reset done! {% endblock %}

{% block content %}

<div style="margin-left: auto;margin-right: auto;max-width: 600px;margin-top:10px;">
<div class="container" style="
    margin-top: 44px;
    margin-bottom: 44px;
    background-color: aliceblue">
	<div class = "row">

  <h3 style="text-align: center;">Your password has been set.</h4>
</div>
</div>
</div>


<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="{% url 'auths:register' %}" style="color:white" class="btn">Sign up</a>
    </div>
    <div class="col">
      <a href="{% url 'password_reset' %}" style="color:white" class="btn">Forgot password?</a>
    </div>
	<!-- <div class="col">
      <a href="{% url 'auths:social:begin' 'facebook' %}" style="color:white" class="btn">Signin with Facebook</a>
    </div> -->
  </div>
</div>
</div>



  {% endblock %}
